.header{
	width:100%;
	height:110px;
	background-color:white;
	border-bottom:solid 1px lightgray;

}
#Background{
	width:100%;
	height:180%;
	position:relative;
	z-index:-1;
	top:0px;
	
}
.float1{
	float:right;
	position: relative;
	right:200px;
	top:-1515px;
	font-size: 150%
}
hr{
position:relative;
top:-15;

}
.ArushiPrakash{
	
	display:block;
	width:15%;
	height:90px;
	left-margin:100px;
	color:white;
	background-color: #4aaaa5;
	font-size:auto;
	overflow:visible;
	padding:1%;
	vertical-align: middle;
	text-align:center;
	line-height: 90px;
	position: relative;
	top:-1420px;
	left:110px;
	border-bottom:solid 1px lightgray;